In [2]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
df_1 = pd.read_csv('')
df_2 = pd.read_csv('')

In [26]:
print(df_1.shape)
df_1.head()
df_1 = df_1[['column A','Column B']]
df_1.head()

(5374, 62)

Id                 int64
Account Number     int64
Account Name      object
Billing State_    object
dtype: object

In [27]:
print(df_2.shape)
df_2.head()
df_2 = df_2[['Column C','Column D']]
df_2.head()

(5159, 10)

Agency Name    object
Agency ID       int64
State          object
dtype: object

In [38]:
df_joined = pd.merge(
    df_1, df_2, left_on="Column B", right_on="Column C", how="left", sort=False
)
print(df_joined.shape)
df_joined.head()

(5163, 7)

,Agency Name,Agency ID,State,Id,Account Number,Account Name,Billing State_
0,Itravel - Matt Vitagliano,11004,Tasmania,NaN,<NA>,NaN,NaN
1,Helloworld Travel Alexander Heights,2971,Western Australia,2.045641e+18,2971,Helloworld Travel Alexander Heights,Western Australia
2,Edge Connections,2425,Victoria,2.045641e+18,2425,Edge Connections,Victoria
3,"Crystal Lake Travel, Inc.",4581,Illinois,2.045641e+18,4581,"Crystal Lake Travel, Inc.",Illinois
4,America's Vacation Center,10882,NaN,2.045641e+18,10882,America's Vacation Center,NaN

In [36]:
df_joined.to_csv('joined.csv', index=False)